/* Global */ 
* { 
	box-sizing:border-box;
	&:after,
	&:before {
		content:""; 
		display:block;
	}
}
html,
body {
	background:$neutral--5;
	color:$white;          
	font-family:"Gotham","Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-size:100%;
	font-smoothing:subpixel-antialiased;
	height:100%;
	hyphens:none;
	text-size-adjust:100%;
	text-rendering:optimizeLegibility;    
	
	@include breakpoint(retina){
		font-smoothing:antialiased;                                
	}
}

.avatar {
	align-items:center;  
	cursor:pointer;
	display:flex;  
	flex-direction:row;
	height:100%; 
	padding:0 16px;
	transition: background .15s ease-in-out;      
	
	&:hover {
		background:$neutral--4;
	} 
	
	&.right {    
		flex-direction:row-reverse;
		
		.avatar {
			&--image {  
				margin-right:0;
				margin-left:12px; 
			}
		}
	}
	
	&--email {     
		@include type--xs;  
		@include type_height--tight;
		color:$neutral--3; 
		white-space:nowrap;
	}
	
	&--image {
		background:url(../img/avatar.png); 
		background-size:cover;
		border-radius:40px;             
		height:40px;  
		margin-right:12px;
		width:40px;       
	}  
	
	&--info {                     
		display:flex;
		flex-direction:column; 
		margin-top:-8px;
	}  
	
	&--name {
		@include type--sm;            
		color:$neutral--0;
		
	}
}

.header {
	background:$neutral--4;
	border-bottom:solid 1px $neutral--5;                 
	display:flex;    
	height:60px;    
	left:60px;         
	max-width:1600px;   
	position:fixed;
	right:0;
	top:0;                     
 	width:100%;
	z-index:$level--3;     
	
	@include breakpoint(xl){     
		left:50%;  
		padding-left:220px;         
		right:auto;
	  	transform:translateX(-50%);
	} 
	
	&--account { } 
	
	&--menu {
		border-left:solid 1px $neutral--6; 
	}
	
	&--search {   
		align-items:center;
		display:flex; 
		margin-right:60px; 
		padding:0 16px;
		width:460px;
	}
	
	&--utilities { 
		display:flex; 
		flex-direction:row;    
		height:100%;
		margin-left:auto; 
	  	transform:translateX(-60px); 
	
		@include breakpoint(xl){ 
	  		transform:translateX(0);
		}         
	}
}                                           

.main {                     
	padding:112px 20px 0 80px;
	
	@include breakpoint(xl){        
		padding:112px 20px 0 220px;
	}
	
	&--container {  
		@include container--md; 
	}
}

.more {  
	position:relative; 
	
	&.active {
		.more {
			&--menu {
				display:block;
			}
		}
	} 
	
	svg {
		fill:$neutral--2;
		height:24px;                 
		width:24px;      
	}
	
	&--icon {                  
		align-items:center; 
		cursor:pointer;
		display:flex;  
		height:60px; 
		justify-content:center;
		width:60px;
		transition: background .15s ease-in-out;

		&:hover {
			background:$neutral--4;
		}
		

	}
	
	&--menu {             
		background:$white;
		border-radius:4px;
		display:none;
		position:absolute;
		right:0;
		width:230px;  
                     
		&:after {  
		    border:10px solid transparent;    
			border-bottom-color:#fff;   
			bottom:0;
			content:""; 
			display:block;
   			height:0;
   			position:absolute;
	 		right:20px;
			top:-20px;
		 	width:0; 
 			z-index:1001;           
		}
		
		a {  
			@include type--sm;
			@include type_weight--light;
			color:$neutral--5;
			display:flex; 
			padding:4px 24px; 
			transition: all 0.15s ease-in-out;
			
			svg {  
				fill:$neutral--5; 
				margin-left:-4px;
				margin-right:4px;
			}
			
			&:hover {
				background:$neutral--0;
			}
		}
	}
	
	&--section {
		border-bottom:solid 1px $neutral--1;
		padding:8px 0;
		
		&:last-of-type {
			border:none;
		}
	}
}

.nav { 
	background:$neutral--4;    
	border-right:solid 1px $neutral--5; 
	bottom:0;                    
	overflow-y: scroll;
	overflow-x: hidden;             
	position:fixed;
	top:0px;      
	transition:width 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
	width:60px;
	z-index:$level--3;
	
	&:hover {       
		box-shadow:50px 0 100px rgba(0,0,0,0.8);
		width:220px; 
		
		@include breakpoint(xl){         
			box-shadow:none;
		}
	}
	
	@include breakpoint(xl){   
		width:220px;
	}                  
	
	&--arrow { 
		opacity:0;    
		transition:all 0.15s ease-in-out;
		width:12px;
		
		svg {
			fill:$neutral--1;
		}
	} 
	
	&--branding {   
		align-items:center;       
		border-bottom:solid 1px $neutral--5;
		border-right:solid 1px $neutral--5;  
		display:flex;  
		height:60px; 
		padding:0 18px;
		overflow:hidden;
		width:220px;
	}
	
	&--company {
		@include type--sm;
		@include type_weight--book;                 
		color:$white;
		display:block;      
  		letter-spacing:0.15em;  
        text-transform:uppercase;
   		transition: all .15s ease-in-out;
	}
	
	&--mark {        
		height:24px;
		margin-right:20px;          
		width:24px;
		
		svg {
			fill:$neutral--2;
			height:24px; 
			transition: all 0.15s ease-in-out; 
			width:24px;      
		}
	}
	
	&--icon {        
		height:24px;
		margin-right:20px;          
		width:24px;
		
		svg {
			fill:$neutral--2;
			height:24px; 
			transition: all 0.15s ease-in-out; 
			width:24px;      
		}
	}
	
	&--item {   
		@include type--sm;  
		@include type_weight--light;
		align-items:center;
		color:$neutral--2;    
		display:flex;       
		height:44px;       
		padding:0 18px;
		transition: all 0.15s ease-in-out; 
		
		&.active {
			color:$orange;
			
			.nav {
				&--icon {
					svg {
						fill:$orange;
					}
				}     
			}
		}  
		
		&:hover {
			background:$neutral--3; 
			color:$white;
			
			.nav {
				&--icon {
					svg {
						fill:$white;
					}
				}     
			}
		}
	}
	
	&--title { 
		@include type--xs;
		@include type_weight--light; 
		align-items:center; 
		background:$neutral--4;
		border-bottom:solid 1px $neutral--6;
		border-top:solid 1px $neutral--6; 
		display:flex;  
		justify-content:space-between;
		line-height:32px;
		padding:0 16px;
		text-transform:uppercase;
		transition: all 0.15s ease-in-out;
		
		&:hover {
			background:$neutral--3;
			
			.nav {
				&--arrow {
					opacity:1;            
				}     
			}
		}
	}
} 
 
.prism {
	@include container;
	height:100%;           
}

.search {  
	align-items:center; 
	display:flex;
	width:100%;             
	
	&--icon {      
		height:24px; 
		margin-left:8px;
		position:absolute;
		width:24px;
		
		svg { 
			fill:$neutral--2;
			height:24px;       
			width:24px;
		}            
		
		& + input {
			padding-left:40px;
		}
	}
}