<head>  
<title>{{ page.title }} | Pluralsight | Design System</title>
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" /> 
<meta name="description" content="{{ page.description }}">
<meta name="author" content="Michael Stevens">
<link rel="stylesheet" href="css/screen.css" /> 
<link rel="shortcut icon" href="/img/ico/favicon.png" />
<!-- google analytics - i will not share this data with google -->
{% include analytics.html %}
</head>