<div class="header"> 
    <div class="header--mobile"></div>
	<div class="header--search">    
		<div class="search">
			<div class="search--icon"><svg><use xlink:href="svg/search.svg#icon"></use></svg></div>   
			<input type="search" placeholder="What do you want to learn?" class="dark" />
		</div>                                                                       
	</div> 
	<div class="header--utilities">
		<div class="header--account"> 
			<div class="avatar right"> 
				<div class="avatar--image"></div>
				<div class="avatar--info">
					<div class="avatar--name">John Doe</div>
					<div class="avatar--email">john-doe@pluralsight.com</div>
				</div>
			</div> 
		</div>  
		<div class="header--menu">
			{% include more.html %}
		</div>
	</div>

</div>