<div class="more">
	<div class="more--icon"><svg><use xlink:href="svg/more.svg#icon"></use></svg></div>
	<div class="more--menu">
		<div class="more--section">
			<a href="#">Account</a>
			<a href="#">History</a>
			<a href="#">Referral Program</a>
		</div>
		<div class="more--section">
			<a href="#">Business plans</a>
			<a href="#">Integration features</a>
			<a href="#">Mobile &amp; offline apps</a>
			<a href="#">Resource center</a>
			<a href="#">How-to videos</a>
			<a href="#">Support</a>
			<a href="#">Contact us</a>
			<a href="#">Our authors</a>
			<a href="#">Become an author</a>
	   		<a href="#">Terms of use</a>
		  	<a href="#">Privacy policy</a>
		</div>
		<div class="more--section">         
			<a href="#"><svg viewBox="0 0 24 24"><use xlink:href="svg/signout.svg#icon"></use></svg> Sign out</a>
		</div>
	</div>
</div>