<div class="nav" data-type="component">
	<div class="nav--branding">
		<div class="nav--mark"><svg><use xlink:href="svg/branding.svg#icon"></use></svg></div>
		<div class="nav--company">Pluralsight</div>
	</div> 
	<a href="#" class="nav--item active"><div class="nav--icon"><svg><use xlink:href="svg/home.svg#icon"></use></svg></div>Home</a>
	<a href="#" class="nav--item"><div class="nav--icon"><svg><use xlink:href="svg/browse.svg#icon"></use></svg></div>Browse</a>
	<a href="#" class="nav--item"><div class="nav--icon"><svg><use xlink:href="svg/feed.svg#icon"></use></svg></div>Feed</a>
	<a href="#" class="nav--item"><div class="nav--icon"><svg><use xlink:href="svg/paths.svg#icon"></use></svg></div>Paths</a>
	<a href="#" class="nav--item"><div class="nav--icon"><svg><use xlink:href="svg/mentors.svg#icon"></use></svg></div>Mentors</a>
	<a href="#" class="nav--item"><div class="nav--icon"><svg><use xlink:href="svg/channels.svg#icon"></use></svg></div>Channels</a>
	<a href="#" class="nav--item"><div class="nav--icon"><svg><use xlink:href="svg/bookmarks.svg#icon"></use></svg></div>Bookmarks</a>
	<a href="#" class="nav--item"><div class="nav--icon"><svg><use xlink:href="svg/notes.svg#icon"></use></svg></div>Notes</a>             
</div>